.side-bar {
    @include mq(lg) {
      width: $nav-width;
      min-width: $nav-width;
    }
  }

.main{
  @include mq(lg) {
    margin-left: $nav-width;
  }
}

.site-logo{
  background-position: center;
};

